html, body {
    font-family: Helvetica, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
}

#vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

main {
    position: relative;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

header {
    margin-top: 6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 196px;
    height: 196px;
    object-fit: cover;
    border-radius: 50%;
    outline: 4px #ddd solid;
}

.name {
    display: inline-block;
    font-weight: bold;
    outline: 4px #ddd solid;
    padding: 1.125rem;
    border-radius: 2rem;
    color: #ddd;
    background-color: #5553;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    margin: 1.4em 0;
    border-radius: 10em;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

a {
    color: #000;
    text-decoration: none;
}
